/* colors */
:root {
  --bg-primary-color: #ededed;
  --bg-secondary-color: #eaf2fd;
  --text-default-color: #000000;
  --text-secundary-color: #fff;
  --text-primary-color: #464646;
  --text-secondary-color: #2a7ae4;
}

/* fonts */
@font-face {
  font-family: 'ralewaybold';
  src: url('../font/raleway-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'ralewayregular';
  src: url('../font/raleway-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* body */
body {
  background-color: var(--bg-primary-color);
}


/* navegation bar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 20px;
}

.nav__logo {
  display: flex;
  align-items: center;
  width: 135px;
}

.nav__logo-text {
  font-family: 'ralewaybold';
  color: var(--text-primary-color);
  font-size: 16px;
  margin: 0 5px;
  text-shadow: 0px 4px 5px rgba(70, 70, 70, 0.2);
}

.navbar__list, .navbar {
  display: flex; 
}


.links {
  font-family: 'ralewayregular';
  margin: 0 16px;
  text-shadow: 0px 4px 5px rgba(70, 70, 70, 0.2);
  color: var(--text--primary-color);
  position: relative;
}

.links::after {
  content: '';
  background-color: var(--text-default-color);
  height: 3px;
  width: 0;
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  opacity: 0;
  transition: ease-in-out 0.8s;
}

.links:hover::after {
  opacity: 0.8;
  width: 100%;
}

.email {
  font-family: 'ralewaybold';
}

/* main */

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scroll-behavior: smooth;
  transition: ease-out .4s;
}

/* hero */

.hero {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 46px;
}

.hero__wrapper {
  display: flex;
}

.hero__primary {
  width: 65%;
}

.hero__title {
  font-family: 'ralewaybold';
  font-size: 52px;
  color: var(--text-primary-color);
  /* text-wrap: stable; */
  text-shadow: 0px 4px 5px rgba(70, 70, 70, 0.2);
}

.hero__paragraph {
  font-family: 'ralewayregular';
  font-size: 22px;
  color: var(--text-primary-color);
  text-shadow: 0px 4px 5px rgba(70, 70, 70, 0.2);
  line-height: 1.5;
  margin-top: 24px;
}

.social-media {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.social-media__links {
  font-family: 'ralewayregular';
  font-size: 16px;
  color: var(--text-primary-color);
  text-shadow: 0px 4px 5px rgba(49, 35, 35, 0.2);
}

.social-media img {
  width: 24px;
  height: 24px;
  margin-right: 32px;
}

.hero__secundary {
  width: 35%;
}

.hero__secundary img {
  width: 368px;
  height: 368px;
  border-radius: 50%;
  object-fit: cover;
}

/* sobre-mi & formations section */

.sobre-mi, .formations {
  width: 100%;
  margin: 64px 0;
  background-color: var(--bg-secondary-color);
  box-shadow: 0px 2px 8px 0px rgba(70, 70, 70, 0.3);
}

.sobre-mi__text, .formation__wrapper, .contacts-wrapper {
  width: 85%;
  margin: auto;
  padding: 64px 0;
}

.title {
  font-family: 'ralewaybold';
  font-size: 32px;
  color: var(--text-primary-color);
   
}

.sobre-mi__title {
  margin-bottom: 16px;
}

.sobre-mi__paragraph {
  font-family: 'ralewayregular';
  font-size: 16px;
  line-height: 1.5;
  margin: 12px 0;
  width: 750px;
}

.formation__wrapper{
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
}

.formation__image{
  width: 368px;
  height: 286px;
  background-color: var(--text-secundary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 2px 0px rgba(70, 70, 70, 0.3);
}

.formation__image svg{
  width: 192px;
  height: 130px;
}
.formation__description{
  margin-top: 8px;
}

.formation__description-title{
  font-family: 'ralewaybold';
  font-size: 22px;
}

.formation__description-date{
  font-family: 'ralewayregular';
  font-size: 16px;
  margin-top: 8px;
}

.formation__title{
  margin-top: 82px;
}
/* skills & hobbies sections */

.skills, .hobbies, .experience{
  width: 85%;
  margin: auto;
  background-color: var(--bg-primary-color);
}

.hobbies{
  margin-top: 88px;
}

.skills__tilte, .hobbies__title, .formation__title, .projects__title{
  text-align: center;
  text-shadow: 0px 4px 5px rgba(70, 70, 70, 0.2);
  
}

.skill-container, .hobbie-container{
  margin: 32px 0;
  display: flex;
  gap: 16px;
} 

.hobbie, .skill{
width: 175px;
height: 175px;
display: flex;
flex-direction: column;
justify-content: flex-end;
padding-left :16px;
padding-bottom: 16px;
background-color: var(--text-secundary-color);
box-shadow: 0px 4px 2px 0px rgba(70, 70, 70, 0.3);
transition: ease-in .4s;
}

.skill:hover, .hobbie:hover{
  scale: 1.1;
  box-shadow: 0px 4px 8px 0px rgba(70, 70, 70, 0.5);
}

.skill-container svg, .hobbie-container svg{
  width: 32px;
  height: 32px;
  margin-bottom: 6px;
}

.skill__name, .hobbie__name{
  font-family: 'ralewaybold';
}

.experience-container{
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  gap: 64px;
}

.experience:nth-child(odd){
  flex-direction: row-reverse;
}

.experience{
  width: 85%;
  display: flex;
  align-items: center;
  gap: 16px;
}


.project-image img{
  width: 752px;
  height: auto;
  box-shadow: 0px 4px 5px rgba(70, 70, 70, 0.2);
}

.project-actions{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.project-name{
  font-size: 22px;
  color:var(--text-primary-color);
  font-family: "ralewaybold";
  text-shadow: 0px 4px 5px rgba(70, 70, 70, 0.2);
}

.project-description{
  font-size: 16px;
  font-family: "ralewayregular";
  color: var(--text-primary-color);
  text-shadow: 0px 4px 5px rgba(70, 70, 70, 0.2);
}

.experience__buttons{
  display: flex;
  gap: 16px;
}

.repo-link{
  width: 116px;
  height: 51px;
  border: 1px solid var(--text-secondary-color);
  color: var(--text-secondary-color);
  box-shadow: 0px 4px 5px rgba(70, 70, 70, 0.2);
  transition: ease-in .3s;
}

.repo-link:hover, .demo-link:hover{
  box-shadow: 0px 4px 5px rgba(70, 70, 70, 0.4);
  scale: 1.05;
}

.demo-link {
  width: 116px;
  height: 51px;
  background-color: var(--text-secondary-color);
  border: none;
  color: var(--text-secundary-color);
  box-shadow: 0px 4px 5px rgba(70, 70, 70, 0.2);
  transition: ease-in-out .6s;
}

.contacts{
  background-color: var(--bg-secondary-color);
}

.contacts-wrapper{
  display: flex;
  gap: 16px;
  width: 85%;
}

.contacts__paragraph{
  font-family: "ralewayregular";
  font-size: 16px;
  margin-top: 6px;
}

.form > input {
  margin-top: 40px;
  height: 56px;
  width: 80%;
  border: none;
}